/* line 1, ../sass/index.scss */
body,
html {
  margin: 0;
  padding: 0;
  background-color: #f2f0f0;
  font-family: 'Microsoft Yahei',serif;
}

/* line 10, ../sass/index.scss */
.green {
  color: #80d31f;
}

/* line 14, ../sass/index.scss */
.red {
  color: #d0001b;
}

/* line 18, ../sass/index.scss */
.blue {
  color: #4a90e2;
}

/* line 22, ../sass/index.scss */
.yellow {
  color: #f5a622;
}

/* line 26, ../sass/index.scss */
.gray {
  color: #9b9b9b;
}

/* line 30, ../sass/index.scss */
.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

/* line 38, ../sass/index.scss */
#header {
  width: 100%;
  background-color: #000;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
/* line 45, ../sass/index.scss */
#header .container > * {
  float: left;
  display: inline-block;
}
/* line 49, ../sass/index.scss */
#header .container .logo {
  width: 150px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-align: left;
}
/* line 56, ../sass/index.scss */
#header .container .admin {
  width: 60px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-align: right;
}
/* line 63, ../sass/index.scss */
#header .container .menu {
  width: calc(100% - 150px - 60px);
}
/* line 65, ../sass/index.scss */
#header .container .menu > * {
  position: relative;
  display: inline-block;
  float: left;
  text-decoration: none;
  font-size: 16px;
  color: #9b9b9b;
  padding: 0 16px;
}
/* line 73, ../sass/index.scss */
#header .container .menu > *:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  display: inline-block;
  background-color: #9b9b9b;
  opacity: 0;
}
/* line 84, ../sass/index.scss */
#header .container .menu > *.active, #header .container .menu > *:hover {
  color: #fff;
}
/* line 87, ../sass/index.scss */
#header .container .menu > *.active:after, #header .container .menu > *:hover:after {
  background-color: #fff;
  opacity: 1;
}

/* line 97, ../sass/index.scss */
#main {
  display: inline-block;
  width: 100%;
}
/* line 100, ../sass/index.scss */
#main .container {
  display: block;
  padding-bottom: 32px;
}
/* line 103, ../sass/index.scss */
#main .container > .info {
  display: inline-block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-top: 32px;
}
/* line 109, ../sass/index.scss */
#main .container > .info > * {
  float: left;
  display: inline-block;
  width: 50%;
  height: 32px;
  line-height: 32px;
}
/* line 116, ../sass/index.scss */
#main .container > .info .left {
  color: #000;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}
/* line 123, ../sass/index.scss */
#main .container > .info .right > * {
  float: right;
  display: inline-block;
}
/* line 126, ../sass/index.scss */
#main .container > .info .right > * > span {
  color: #9b9b9b;
}
/* line 129, ../sass/index.scss */
#main .container > .info .right > * > b {
  color: #000;
  font-size: 26px;
}
/* line 133, ../sass/index.scss */
#main .container > .info .right > * > * {
  display: inline-block;
  float: left;
}
/* line 138, ../sass/index.scss */
#main .container > .info .right .unit {
  margin-left: 16px;
  position: relative;
  cursor: pointer;
}
/* line 143, ../sass/index.scss */
#main .container > .info .right .unit:hover .list {
  display: inline-block;
}
/* line 146, ../sass/index.scss */
#main .container > .info .right .unit:hover > b {
  transform: rotate(180deg);
}
/* line 150, ../sass/index.scss */
#main .container > .info .right .unit .list {
  position: absolute;
  right: 0;
  top: 100%;
  width: 125px;
  display: none;
  box-shadow: 1px 2px 10px 0 #9b9b9b;
  border-radius: 2px;
  background-color: #fff;
  overflow: hidden;
}
/* line 160, ../sass/index.scss */
#main .container > .info .right .unit .list > span {
  height: 34px;
  line-height: 34px;
  color: #000;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
/* line 167, ../sass/index.scss */
#main .container > .info .right .unit .list > span.active, #main .container > .info .right .unit .list > span:hover {
  color: #fff;
  background-color: #000;
}
/* line 177, ../sass/index.scss */
#main .container .n3 {
  display: inline-block;
  width: 100%;
  margin-top: 16px;
}
/* line 181, ../sass/index.scss */
#main .container .n3 > * {
  display: inline-block;
  float: left;
  width: calc((100% - 20px * 2) / 3);
  height: 138px;
}
/* line 186, ../sass/index.scss */
#main .container .n3 > * + * {
  margin-left: 20px;
}
/* line 191, ../sass/index.scss */
#main .container .n3 .panel > * {
  display: inline-block;
  width: 100%;
}
/* line 195, ../sass/index.scss */
#main .container .n3 .panel div {
  font-size: 16px;
  color: #000;
  height: 22px;
  line-height: 22px;
  margin-top: 30px;
}
/* line 201, ../sass/index.scss */
#main .container .n3 .panel div:before {
  display: inline-block;
  font-size: 18px;
  margin-right: 4px;
}
/* line 207, ../sass/index.scss */
#main .container .n3 .panel b {
  margin-top: 12px;
  font-size: 36px;
  height: 40px;
  line-height: 40px;
}
/* line 215, ../sass/index.scss */
#main .container .n1 {
  display: inline-block;
  width: 100%;
  height: 400px;
  margin-top: 18px;
}
/* line 220, ../sass/index.scss */
#main .container .n1 .panel {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 226, ../sass/index.scss */
#main .container .n2 {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
/* line 230, ../sass/index.scss */
#main .container .n2 > * {
  float: left;
  display: inline-block;
  width: calc((100% - 20px) / 2 - 40px * 2);
  height: 415px;
}
/* line 235, ../sass/index.scss */
#main .container .n2 > * + * {
  margin-left: 20px;
}
/* line 239, ../sass/index.scss */
#main .container .n2 .panel {
  padding: 30px 40px;
  text-align: left;
}
/* line 242, ../sass/index.scss */
#main .container .n2 .panel > b {
  font-size: 24px;
  color: #000;
}
/* line 248, ../sass/index.scss */
#main .container .n2 .left .list {
  margin-top: 20px;
}
/* line 250, ../sass/index.scss */
#main .container .n2 .left .list .item {
  display: inline-block;
  width: 100%;
  height: 90px;
  line-height: 90px;
}
/* line 255, ../sass/index.scss */
#main .container .n2 .left .list .item + .item {
  border-top: 1px solid #ebebeb;
}
/* line 258, ../sass/index.scss */
#main .container .n2 .left .list .item > * {
  float: left;
  display: inline-block;
}
/* line 262, ../sass/index.scss */
#main .container .n2 .left .list .item > *[class^="icon-"] {
  width: 60px;
  font-size: 45px;
  text-align: left;
  color: #000;
  margin-top: 24px;
}
/* line 269, ../sass/index.scss */
#main .container .n2 .left .list .item .name {
  width: calc(100% - 60px - 72px - 50px);
  height: 22px;
  font-size: 16px;
}
/* line 274, ../sass/index.scss */
#main .container .n2 .left .list .item .num {
  width: 72px;
  height: 24px;
  font-size: 20px;
}
/* line 279, ../sass/index.scss */
#main .container .n2 .left .list .item .rate {
  position: relative;
  width: 50px;
  height: 24px;
  font-size: 16px;
  text-align: right;
  cursor: pointer;
}
/* line 287, ../sass/index.scss */
#main .container .n2 .left .list .item .rate:hover .tip {
  display: inline-block;
}
/* line 291, ../sass/index.scss */
#main .container .n2 .left .list .item .rate:before {
  display: inline-block;
  height: 22px;
}
/* line 296, ../sass/index.scss */
#main .container .n2 .left .list .item .rate.green:before {
  content: "\ea3e";
  font-family: 'icomoon', serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 308, ../sass/index.scss */
#main .container .n2 .left .list .item .rate.red:before {
  content: "\ea3a";
  font-family: 'icomoon', serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 319, ../sass/index.scss */
#main .container .n2 .left .list .item .rate .tip {
  text-align: center;
  padding: 6px;
  position: absolute;
  bottom: 100%;
  right: -67px;
  display: none;
  width: 186px;
  height: 65px;
  line-height: 65px;
  background-color: #000000;
  color: #fff;
  border-radius: 3px;
}
/* line 332, ../sass/index.scss */
#main .container .n2 .left .list .item .rate .tip > * {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 1.2;
}
/* line 338, ../sass/index.scss */
#main .container .n2 .left .list .item .rate .tip:after {
  position: absolute;
  content: '';
  bottom: -4px;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #000000;
  transform: rotate(45deg);
}
/* line 354, ../sass/index.scss */
#main .container .n2 .right .list {
  display: inline-block;
  width: 100%;
  margin-top: 16px;
}
/* line 358, ../sass/index.scss */
#main .container .n2 .right .list .item {
  display: inline-block;
  width: 100%;
  padding: 8px 0;
}
/* line 362, ../sass/index.scss */
#main .container .n2 .right .list .item + .item {
  border-top: 1px solid #f0f0f0;
}
/* line 365, ../sass/index.scss */
#main .container .n2 .right .list .item > * {
  display: inline-block;
  float: left;
  height: 100px;
}
/* line 370, ../sass/index.scss */
#main .container .n2 .right .list .item .pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
/* line 374, ../sass/index.scss */
#main .container .n2 .right .list .item .pic > img {
  width: 100px;
}
/* line 378, ../sass/index.scss */
#main .container .n2 .right .list .item .info {
  width: calc(100% - 100px - 72px - 20px);
  padding-left: 20px;
}
/* line 381, ../sass/index.scss */
#main .container .n2 .right .list .item .info * {
  display: inline-block;
  width: 100%;
}
/* line 385, ../sass/index.scss */
#main .container .n2 .right .list .item .info b {
  height: 24px;
  line-height: 24px;
  font-size: 20px;
  margin-top: 18px;
}
/* line 391, ../sass/index.scss */
#main .container .n2 .right .list .item .info span {
  color: #9b9b9b;
  font-size: 16px;
  padding-left: 5px;
}
/* line 397, ../sass/index.scss */
#main .container .n2 .right .list .item .total {
  width: 72px;
  position: relative;
}
/* line 400, ../sass/index.scss */
#main .container .n2 .right .list .item .total b {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}
/* line 405, ../sass/index.scss */
#main .container .n2 .right .list .item .total b:before {
  content: 'Total';
  position: absolute;
  bottom: 100%;
  right: 0;
  height: 14px;
  font-size: 14px;
  font-weight: normal;
}

/* line 423, ../sass/index.scss */
.panel {
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
}
